@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
}

.left-links,
.right-links {
  display: flex;
  gap: 10px;
  margin: 10px;
  padding: 10px;
}


.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 0; /* Align the container to the bottom of the viewport */
  width: 100%; /* Occupy full width of the viewport */
  background-color: #eeeeee;
  padding: 1px;

}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
}

a {
  color: inherit; /* Inherit color from parent element */
  text-decoration: none; /* Remove underline */
}
